@import url('"https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"');


* {
    margin: 0;
    padding: 0;

    font-family: 'montserrat', sans-serif;
}

.row {

    display: flex;
    flex-direction: row;
}

/* ========== Sidebar ========== */

.sidebar {

    width: 15%;
    height: 100vh;

    background-color: #0d1b4b;
    color: white;

    position: fixed;

}

.sidebar-container {

    height: 100%;
    width: 100%;
}

.icone {

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;
    height: 26%;

    margin-bottom: 20px;
}


.icone img {

    height: 150px;
    width: 150px;
}

.sidebar-container p {

    height: 18px;
    text-align: center;
}

.sidebar-lista {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 100%;

    gap: 20px;

}

.sidebar-lista li {

    list-style: none;
}

.sidebar-lista a {

    color: white;
    font-size: 20px;
    font-weight: bold;

    text-decoration: none;
}



/* ========== Dashboard ========== */

.dashboard {

    width: 85%;
    min-height: 100vh;

    background-color: #011471;
    /*linear-gradient(to right, #011471, #6b118f);*/

    margin-left: 15%;
    order: 2;
}

.dashboard-container {

    height: 100%;
    width: 100%;
}


/* ========== KPI's ========== */


.kpi-container {

    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 100px;

    height: 20%;
    width: 100%;

}


.kpi {

    height: 160px;
    width: 260px;

    margin-top: 40px;

    color: white;

    background: rgba(255, 255, 255, 0.07);
    border: 0.5px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;


    padding: 14px 16px;

    text-align: center;
}

.kpi p {

    margin-top: 30px;
}

.materia-critica {

    color: #f4a261;
}

.text-kpi{

    font-size: 14px;
    color: ;
}

/* ========== Gráficos ========== */

.grafico-meio {

    display: flex;

    padding: 45px 88px;
}

.grafico-container {

    display: flex;
    flex-direction: column;

    justify-content: flex-start;


    height: 60%;
    width: 100%;

    order: 1;

}

.grafico-container-2 {
    display: flex;

    order: 2;
}

.grafico-line,
.grafico-bars {

    display: flex;

    height: 300px;
    width: 500px;

    background: rgba(255, 255, 255, 0.07);
    border: 0.5px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;

    padding: 14px 16px;

}

.grafico-line {

    margin-bottom: 20px;
}

.tabela-ranking {


    height: 340px;
    width: 280px;


    background: rgba(255, 255, 255, 0.07);
    border: 0.5px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;

    color: white;
    padding: 14px 16px;
}

.tabela-ranking h3 {

    text-align: center;

    margin-top: 20px;
    margin-bottom: 40px;
}

.tabela-ranking div {

    text-align: s;
    font-size: 16px;

    padding: 0px 30px;
}