@import url('"https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"');

* {

    margin: 0%;
    padding: 0%;
    font-family: 'montserrat', sans-serif
}

.header {
    display: flex;
    margin: 0;
    background-image: linear-gradient(to left, #6b118f, #011471);
    /*Cor em Destaque: #583ac6*/
    width: 100%;
    justify-content: space-between;
    height: 80px;

    position: fixed;
    z-index: 999;
    /*define a ordem de profundidade dos elementos*/
}

.titulo {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    color: white;
    font-weight: bold;
    font-size: 30px;
    
    padding-left: 60px;
}

.navbar {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding-right: 40px;
    gap: 50px;


}

.navbar a {

    color: white;

    font-size: 20px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {


    font-weight: bold;
    scale: (1.10);
}

.navbar li {

    list-style: none;

}

.botaoLogin {

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 80px;

    border: solid, 2px;
    border-color: white;
    border-radius: 10px;

}




/* ====== Banner ====== */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-image: url('../icons/images/performer-songwriter-singing-new-tracks-his-electro-acoustic-guitar.jpg');
    background-size: cover;
    background-position: center;


}

.fraseBanner {

    max-width: 800px;
    /*Define limite de largura*/
    width: fit-content;
    /*Ajusta a largura para o tamanho exato do conteúdo*/

    text-align: start;
    color: rgba(255, 255, 255, 0.923);

    font-size: 44px;
}

.fraseBanner span {

    color: white;
    font-weight: bolder;
}

.fraseBanner a {

    font-size: 24px;
    color: rgba(255, 255, 255, 0.81);
    padding: 0 20px;
    text-align: start;
}

.espacamento {

    height: 50px;
    background-color: white;
}


/* ====== Introdução e Surgimento ====== */


.container-surgimento,
.container-introducao {

    display: flex;

    align-items: center;      
    justify-content: center;

    min-height: 80vh;
    max-width: 1500px;
    
    
    gap: 10px;
    

}

.surgimento,
.introducao {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 70%;
    
    
    order: 2;
}

.surgimento-titulo,
.introducao-titulo {

    display: block;
    text-align: center;
    width: 100%;

    font-size: 26px;
    margin-bottom: 65px;

    color: #000000e3;
    

}

.surgimento-texto,
.introducao-texto {

    display: block;

    height: 40%;
    width: 100%;

    flex-direction: column;
    

}


.surgimento p,
.introducao p {

    font-size: 24px;
    color: #000000e3;

    margin-bottom: 40px;
    text-indent: 40px;
    /* text-indent: Espaçamento para o começo do parágrafo  */
    padding-left: 20px;
    padding-right: 20px ;

    text-align: justify;
}

.imgSurg,
.imgIntrod {

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: 50%;
    height: 70%;
}

.imgSurg img,
.imgIntrod img {

    display: flex;
    align-items: center;
    justify-content: center;
    

    height: 90%;
    width: 100%;
    max-width: 650px;

    background-position: center;
    background-size: cover;

    border-radius: 10px;
}

.imgSurg {

    order: 1;
    padding-left: 25px;
}

.introducao {

    order: 1;
}

.imgIntrod {

    order: 2;
}




/* ====== conteudo ====== */

.informations {

    height: 170vh;
    
    padding-left: 8%;
    padding-right: 8%;
    background-color: #f2f2f2d6;
}

.container1,
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    gap: 40px;

}


.texto-informations {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 260px;

}

.texto-informations h1 {

    font-size: 46px;
}

.container2 {


    padding-top: 50px;
}

.box {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 450px;
    height: 400px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgb(220, 217, 217);
    
    transition: all 0.5s ease-in-out;



}

.container1 .box:hover,
.container2 .box:hover {

    transform: scale(1.10);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

}

.caixa {

    display: flex;
    justify-content: center;
}

.imagem {

    display: flex;
    background-size: cover;

    width: 95%;
    min-height: 70%;
    margin: 0px 5px 5px 5px;

    justify-content: center;
    align-items: center;

}

.imagem img {
    width: 95%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
}

.imagem-extra img{

    height: 280px;

}

.conteudo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    padding-bottom: 20px;
}



/* ====== Footer ====== */

.footer {

    height: 100px;
    width: 100%;

    background-color: #301b8f;
    color: rgba(255, 255, 255, 0.607);

    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    - Quiz
    - Ditado Ritmico
    - Adivinhe a nota
*/