@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: 'DM Sans', sans-serif;

    display: flex;

}


/* ====== LADO DA IMAGEM ======*/
.imagem-card{

    width: 100%;
    min-height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../icons/images/phone.avif');
    background-size: cover;
    background-position: center;

}


.titulo-card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 30%;
    
}

.titulo-card h1{
    
    font-size: 45px;
    color: white;
}

.container-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 60%;
}

.card p{

    padding: 40px;

    color: white;
    text-align: center;
    
    font-size: 22px;
}


/* ====== Lado do Login ======*/

.container {
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(229, 230, 230);

}

.container-box {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 420px;
    height: 50vh;
    
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 20px;
    border-color: #6b118f;

    padding: 25px;

}

.container .cadastro-box p {

    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bolder;
}

.formulario {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;
    width: 100%;
}

.campo {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    font-weight: 600;
    font-size: 11px;

    margin-bottom: 5px;
    padding: 10px, 20px;

}


.campo .frase {

    width: 88%;
    margin-bottom: 8px;
    margin-top: 4px;

}

.campo a{

    font-size: 14px;
}


.campo input {
    justify-self: center;
    text-align: center;

    height: 50px;
    width: 90%;

    background-color: #eaeae5;
    border-radius: 10px;
    border: none;

}

.botaoEntrar, .botao-CadastrarU{
    
    text-align: center;
    height: 50px;
    width: 90%;

    background-image: linear-gradient(to left, #6b118f, #011471);
    opacity: 0.8;

    border: none;
    border-radius: 10px;
    box-sizing: border-box;

    color: white;
    font-size: 15.4px;

    margin-top: 10px;

    position: relative;
    cursor: pointer;
    transition: 0.5s ease;

    z-index: 1;
    
}

.botaoEntrar:hover, .botao-CadastrarU:hover {

    opacity: 1;
    box-shadow: 0 0 20px rgba(130, 29, 170, 0.6);
}


.botaoCadastrar {
    text-align: center;
    height: 45px;
    width: 90%;
   
   
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
   
    font-size: 15.4px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.botaoCadastrar:hover {
    border-color: #eaeae5;
    background-color: #eaeae5;
    color: #000000;
    cursor: pointer;
}

.ou {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 10px;
}

.ou::before,
.ou::after {
    content: "";
    flex: 1;
    height: 1px;
    background: rgb(0, 0, 0);
}

.ou span {
    font-size: 12px;
}



/* ========== PARTE DO CADASTRO ========== */

.container-box-cadastro{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 420px;
    height: 72vh;
    
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 20px;
    border-color: #6b118f;

    padding: 25px;

    
}
.imagem-card-cadastro{

    order:2;
}
.mensagemConta{

    font-size: 18px;
    margin-top: 5px;
}

/* ERROR*/
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

/*  AGUARDAR */

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}


.voltar-home{

    padding-left: 10px;
}
.voltar-home a{
    font-family: 'DM Sans', sans-serif;

    font-size: 24px;
    text-decoration: none;
    color:white;

    cursor: pointer;
}