
.banner-quiz {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    width: 100%;
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../icons/images/performer-songwriter-singing-new-tracks-his-electro-acoustic-guitar.jpg');
    background-size: cover;
    background-position: center;
}

.titulo-quiz {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 30%;
    color: white;
}

.titulo-quiz h1 {

    font-size: 45px;
    margin-bottom: 15px;
}

.titulo-quiz p {

    font-size: 24px;
    padding: 0 420px;
    text-align: center;
}

.frase-quiz {

    text-align: center;
    color: white;
}

.frase-quiz p {

    font-size: 24px;
}

.botaoIniciar {

    text-align: center;
    height: 50px;
    width: 200px;

    background-image: linear-gradient(to left, #6b118f, #011471);
    opacity: 0.8;

    border: none;
    border-radius: 10px;
    box-sizing: border-box;

    color: white;
    font-size: 15px;
    font-weight: bolder;

    margin-top: 10px;

    position: relative;
    cursor: pointer;
    transition: 0.5s ease;

    z-index: 1;
}

.botaoIniciar:hover {

    opacity: 1;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.jogo-quiz {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 60%;
    width: 40%;
    margin-top: 80px;

    background-color: rgb(89, 15, 138);
    border-radius: 15px;

    color: white;
}

.pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 30%;

}

.pergunta a{

    font-size: 20px;

}

.questaoExibida {

    font-size: 22px;
    font-weight: bolder;
}

.opcoes{

    display: flex;
    flex-direction: column;
    
    height: 30%;
    font-size: 18px;
    
    padding: 8px;

}

.botoes{

    display: flex;
    flex-direction: column;

    padding: 8px;
}

/* ========== Resultado ========== */

.resultado-quiz {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


    height: 60%;
    width: 40%;
    margin-top: 80px;
    padding-top: 40px;

    background-color: rgb(89, 15, 138);
    color: white;
    border-radius: 15px;
}

.resultado-titulo  {

    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-bottom: 20px;

}

.resultado-titulo h1 {
    
    font-size: 36px;
    margin: 0;
    
}

.resultado-titulo p {
    font-size: 22px;
    margin-top: 10px;
    padding-top: 20px;
}

.listas {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 60%;

    padding-bottom: 5px;
    gap: 20px;

    font-size: 22px;
}