.banner-quiz {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    width: 100%;
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../icons/images/performer-songwriter-singing-new-tracks-his-electro-acoustic-guitar.jpg');
    background-size: cover;
    background-position: center;
}

.titulo-quiz {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 30%;
    color: white;
}

.titulo-quiz h1 {

    font-size: 45px;
    margin-bottom: 15px;
}

.titulo-quiz p {

    font-size: 24px;
    padding: 0 420px;
    text-align: center;
}

.frase-quiz {

    text-align: center;
    color: white;
}

.frase-quiz p {

    font-size: 24px;
}

.botaoIniciar {

    text-align: center;
    height: 50px;
    width: 200px;

    background-image: linear-gradient(to left, #6b118f, #011471);
    opacity: 0.8;

    border: none;
    border-radius: 10px;
    box-sizing: border-box;

    color: white;
    font-size: 15px;
    font-weight: bolder;

    margin-top: 10px;

    position: relative;
    cursor: pointer;
    transition: 0.5s ease;

    z-index: 1;
}

.botaoIniciar:hover {

    opacity: 1;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.jogo-quiz {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 60%;
    width: 40%;
    margin-top: 80px;

    background-color: rgba(19, 15, 138, 0.45);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);

    border-radius: 15px;
    border-color: #6b118f;

    color: white;
}

.pergunta {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 30%;

}

.pergunta a {

    font-size: 20px;

}

.questaoExibida {

    font-size: 22px;
    font-weight: bolder;
    padding: 0 50px;
    margin-top: 10px;

    text-align: center;
}

.opcoes {

    display: flex;
    flex-direction: column;

    height: 30%;
    font-size: 18px;

    padding: 8px;

}

.botoes {

    display: flex;
    flex-direction: column;

    padding: 8px;
    gap: 10px;


}

/* ========== Resultado ========== */

.resultado-quiz {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


    height: 70%;
    width: 50%;
    margin-top: 80px;
    padding-top: 20px;

    background-color: rgba(19, 15, 138, 0.45);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);

    color: white;
    border-radius: 15px;
    border-color: #6b118f;
}

.resultado-titulo {

    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-bottom: 20px;

}

.resultado-titulo h1 {

    font-size: 36px;
    margin: 0;

}

.resultado-titulo p {
    font-size: 22px;
    margin-top: 10px;
}

.listas {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60%;

    padding-bottom: 5px;
    gap: 60px;

    font-size: 22px;
}

.botaoSubmeter,
.verDashboard {

    background-image: linear-gradient(to left, #6b118f, #011471);
    border: none;
    border-radius: 8px;

    color: white;
    padding: 10px 28px;

    font-weight: bold;
    cursor: pointer;

}

.botaoAvancar {


    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;

    color: rgba(255, 255, 255, 0.4);
    padding: 10px 28px;
    cursor: default;

}

/* ========= Após a ação de submeter ou avançar ========= */

.botaoSubmeter.respondido {

    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.4);
    
    cursor: default;
}

.botaoAvancar.respondido {
    
    background: transparent;
    background-image: linear-gradient(to left, #6b118f, #011471);
    border: none;

    color: white;
    font-weight: 600;
    cursor: pointer;
}


.materia-card {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    

    width: 260px;
    height: 90px;
    padding: 10px 20px;

    margin-bottom: 20px;

    background-color: #232154;
    border-radius: 15px;

    position: relative;
    box-sizing: border-box;

    font-size: 14px;


}

.materia-card p {
    display: block;
    margin: 0; 

    padding-bottom: 2px; 
    color: white;
}



.materia-container-barra {
    
    width: 100%;
    height: 6px;

    background-color: #3b3975; 
    border-radius: 100px;

    margin-top: 8px;
    margin-bottom: 4px;

    margin-right: 20px;

    position: relative;
    overflow: hidden;
}

.materia-barra {
    
    height: 6px;
    background: #4f46e5;

    border-radius: 100px;
    margin: 0;
}

.verDashboard {

    margin-top: 10px;
}

.texto-acertos {
    font-size: 11px; 
    color: #b5b5b5; 
    margin: 0;
}