.bodyCadastro{

    
    min-height: 80vh;
    width: 100%;
    

}

.caixa-cadastro{

    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
}

/* Footer*/

.footer-cad-log{

    
}